:global(.vtex-account__order-details .fl.w-40-ns.pv3.pl0) {
  display: flex;
  flex-direction: column;
}

:global(.link-rastreio) {
  background-color: #008651;
  color: #fff;
  margin-top: 8px;
  padding: 4px 8px;
  text-decoration: none;
  width: 125px;
  border-radius: 4px;
}

:global(.key-access-container) {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
}

:global(.key-access-text) {
  font-size: 0.875rem;
}

:global(.key-access-link) {
  margin-bottom: 8px;
  text-decoration: underline;
  font-size: 1rem;
  color: #008651;
}
