:global(.vtex-flex-layout-0-x-flexRow--footer-one--mobile) {
  :global(.vtex-flex-layout-0-x-flexCol) {
    margin-bottom: 20px;
  }

  .socialNetworksContainer,
  .acceptedPaymentMethodContainer,
  :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
  }

  .socialNetworksTitle {
    text-align: center;
  }

  :global(.vtex-flex-layout-0-x-flexCol--custom-payment-methods--pix) {
    align-items: center;
  }

  :global(.vtex-flex-layout-0-x-flexCol--footer--info-vtex) {
    justify-content: center;
    margin-top: 30px;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--footer-one--desktop) {
  :global(.vtex-flex-layout-0-x-flexCol--footer-payments) {
    width: auto;
  }

  .socialNetworkWrapper {
    width: auto;
    margin-left: auto;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--footer--info-vtex) {
  flex-direction: row;
  justify-content: space-around;

  :global(.vtex-store-components-3-x-imageElement--footer--info-vtex-corebiz) {
    width: 60px;
  }

  :global(.vtex-rich-text-0-x-paragraph--footer--info-vtex-text) {
    margin: 0;
    padding: 3px 10px;
    font-size: 8px;
    font-family: Gotham;
    font-weight: bold;
    color: #c4c4c4;
    text-transform: uppercase;
  }

  :global(.vtex-store-components-3-x-imageElement--footer--info-vtex-logo) {
    width: 40px;
  }
}

:global(.vtex-store-components-3-x-imageElement--footer--info-pix-logo) {
  width: 60px;
  height: 20px;
}

.footerLayout {
  margin: 15px auto;
  max-width: 1280px;
  padding: 0 20px;
}

.poweredBy {
  height: auto;
  justify-content: center;
}

.socialNetworksTitle {
  &--footer {
    &-social-content {
      color: #c4c4c4;
      font: {
        size: 14px;
        weight: 700;
      }
      line-height: 18px;
      margin: 0 0 10px;
      text: {
        align: center;
        transform: uppercase;
      }

      @media (min-width: 1025px) {
        text-align: left;
      }
    }
  }
}

.socialNetworkLink {
  transition: transform 0.3s ease-in-out;

  @media (min-width: 1025px) {
    height: 25px;
    width: 25px;
  }

  &:hover {
    transform: scale(1.25);
  }

  &--footer {
    &-social-content {
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
      }

      &--facebook {
        &::before {
          background: {
            image: url("/arquivos/facebook-footer.png");
            position: center center;
            repeat: no-repeat;
            size: 100% 100%;
          }
        }
      }

      &--twitter {
        &::before {
          background: {
            image: url("/arquivos/twitter-footer.png");
            position: center center;
            repeat: no-repeat;
            size: 100% 100%;
          }
        }
      }

      &--youtube {
        &::before {
          background: {
            image: url("/arquivos/youtube-footer.png");
            position: center center;
            repeat: no-repeat;
            size: 100% 100%;
          }
        }
      }

      &--instagram {
        &::before {
          background: {
            image: url("/arquivos/instagram-footer.png");
            position: center center;
            repeat: no-repeat;
            size: 100% 100%;
          }
        }
      }
    }
  }
}

.socialNetworkImage {
  display: none;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.socialNetworksContainer {
  &--footer {
    &-social-content {
      justify-content: center;
      margin: 0;

      @media (min-width: 1025px) {
        justify-content: flex-start;
      }
    }
  }
}

.poweredByImage {
  max-width: 50px;
  width: 50px;
}