.container--deals {
  color: #7c7c7c;
  text-align: center;
  justify-content: center;
}

.container--deals--title {
  .paragraph--deals--title {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    color: #008651;
    font-family: "Gotham";
  }
}

@media (min-width: 1024px) {
  .container--deals--title {
    text-align: left;
    justify-content: flex-start;
  }
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--about-title-category {
  color: #008651;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.container--about-title-quetions .heading {
  color: #008651;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  padding: 50px 0 10px 0;
  height: auto;
}

.container--about-description {
  font-family: sans-serif;
  padding-right: 30px;

  .strong {
    font-weight: bold;
    font-family: sans-serif;
  }

  .italic {
    font-family: sans-serif;
  }

  .link {
    color: #008651;
    font-family: sans-serif;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .listItem {
    font-family: sans-serif;
  }
}

.container--about-description .paragraph {
  font-family: sans-serif;
  margin: 0;
  color: #158957;
  font-size: 16px;
  line-height: 30px;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.link--deals {
  color: #7c7c7c;
  font-size: 0.9375rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link--deals:hover {
  color: #008651;
}

/* Novidades Home */
.container--promotion-news-content--title {
  justify-content: center;
  background: #333;
  padding-top: 25px;
}

.heading--promotion-news-content--title {
  text-transform: uppercase;
  color: #008651;
  font-family: "Gotham";
  font-size: 17px;
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* Header */
.container--textTipbar {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.paragraph--textTipbar {
  margin: 0;
  padding: 3px 0 0;
}

.container--textTipbar {
  justify-content: center;
}

.link--textTipbar {
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: -0.5px;
  color: #7c7c7c;
  font-family: "lucida sans unicode", "lucida grande", sans-serif;

  @media screen and (max-width: 768px) {
  }
}

.strong--textTipbar {
  color: #a7d163;
}
//
.paragraph--title-policy {
  color: #f5a057;
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
}

.headingLevel1--titulo-quem-somos,
.headingLevel5--titulo-imprensa {
  color: #99cd44;
  font-family: gotham;
  font-size: 18px;
  margin: 15px 0 0 0;
  background: #fff;
  opacity: 0.7;
  padding: 5px 0;
}

.headingLevel1--titulo-quem-somos {
  font-size: 32px;
  margin: 15px 0;
}

.container--assessoria-btn,
.container--missao-e-valores-btn,
.container--historia-btn {
  :first-child {
    background: #27ae61;
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 40px;
    color: white;
    margin: inherit;
  }

  background: none;
  padding: 0;
  margin: 20px 0;
}

.heading--margin-0 {
  margin: 10px;
}
.paragraph--assessoria-btn {
  font-family: gotham, sans-serif;
  font-size: 18px;
  margin: 12px 0;
}
.paragraph--email {
  margin-left: 5px;
}
.link--email {
  color: #008651;
  text-decoration: none;
}
.link--email:hover {
  color: #3d766c;
}

.heading--frete-title {
  font-size: 21px;
  color: #72c44b !important;
  font-weight: bold;
  font-family: gotham, sans-serif;
}
.paragraph--frete-warn {
  font-size: 12px;
}
.paragraph {
  &--title-frete {
    font-size: 12px;
  }
  &--light {
    font-size: 12px;
  }
  &--med {
    font-size: 12px;
  }

  &--heavy {
    font-size: 12px;
  }
}
.paragraph {
  &--heavy-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
  &--med-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
  &--light-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
}
.paragraph--caution-text {
  font-size: 10px;
}
.paragraph--color-main {
  color: #72c44b;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0 0 0;
}

.container--frete-title {
  margin-top: 30px;
}

.heading--color-main {
  color: #72c44b;
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 32px;
}

.paragraph--little-text {
  font-size: 10px;
  margin: 0;
}
.container--franquia-content {
  display: flex;
  align-items: center;
}
.container--franquia-cor-1 {
  background: #27ae60;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-sec {
  background: #a7d163;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-2 {
  color: #fff;
  background: #a7d163;
  margin: 10px 0;
}
.container--franquia-right {
  @media screen and (min-width: 1024px) {
    margin-left: 15px;
  }
}
.paragraph--franquia-right {
  padding: 0 10px;
  justify-content: flex-start !important;
}
.container--bg-table {
  display: flex;
  justify-content: center;
}
.paragraph--bg-table {
  margin: 14px 0;
}
.paragraph--custo-investimento-content {
  max-width: 500px;
  margin-bottom: 70px;
}
.container--content-table {
  @media screen and (min-width: 1024px) {
    margin-left: 10px;
  }
}

.paragraph.nostyle {
  color: initial;
  text-decoration: none;
}
//

// Black Friday
.paragraph--text-blackfriday {
  color: #ffffff;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }
}

.wrapper--text-form-blackfriday {
  width: 100%;
}

.paragraph--text-form-blackfriday,
.paragraph--title-success-blackfriday {
  display: block;
  margin: 0 auto 16px;
  padding-top: 16px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.paragraph--title-success-blackfriday {
  padding-top: 32px;
  margin-bottom: 8px;
}

.paragraph--text-success-blackfriday {
  color: #ffffff;
  font-size: 18px;
}
// Fim Black Friday

// Popup Black Friday
.paragraph--popup-title-success-blackfriday {
  min-height: 60px;
  font-size: 0;

  @media all and (max-width: 767px) {
    min-height: 12px;
  }
}

.wrapper--popup-text-success-blackfriday {
  width: 100%;
}

.paragraph--popup-text-success-blackfriday {
  display: block;
  width: 100%;
  max-width: 409px;
  height: 74px;
  margin: 0 auto 128px;
  background: url("/arquivos/popup-bf-mundoverde-text-success.png") center
    no-repeat;
  background-size: 100% 100%;
  font-size: 0;

  @media all and (max-width: 767px) {
    margin: 0 auto 48px;
    background-size: contain;
  }
}
// Fim Popup Black Friday

// category footer texts

:global(.vtex-rich-text-0-x-paragraph--category-footer-texts-title) {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 35px auto 0;
  line-height: 26px;
  color: #4b2b4a;
  text-transform: uppercase;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

:global(.vtex-rich-text-0-x-paragraph--category-footer-texts-subtitle) {
  font-size: 1.65rem;
  font-weight: bold;
  color: #4b2b4a;
  margin: 0;
  text-transform: uppercase;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

:global(.vtex-rich-text-0-x-wrapper--category-footer-texts-border) {
  width: 100%;
  position: relative;
  margin-right: 30px;
}

:global(.vtex-rich-text-0-x-paragraph--category-footer-texts-border) {
  background: #4b2b4a;
  height: 2.5px;
  position: absolute;
  width: 120%;
  max-width: 85vw;
  margin: 0;
  font-size: 0;
  align-items: center;
  right: 0;

  display: none;

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2.5px solid #4b2b4a;
    position: absolute;
    left: -30px;
  }

  @media all and (max-width: 1250px) {
    width: 102%;
    margin-top: 8px;
  }

  @media all and (max-width: 450px) {
    width: 90%;
  }
}

:global(.vtex-rich-text-0-x-paragraph--category-footer-texts-description) {
  color: #158957;
  font-size: 16px;
  margin-top: 24px;
  line-height: 30px;
}

:global(.vtex-rich-text-0-x-paragraph--about-title-quetions) {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4b2b4a;
  text-transform: uppercase;
  margin: 20px 0 8px;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

// category footer texts
