@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&family=Rubik:wght@300;900&display=swap');

.container--deals {
  color: #7c7c7c;
  text-align: center;
  justify-content: center;
}

.container--deals--title {
  .paragraph--deals--title {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
    color: #008651;
    font-family: 'Gotham';
  }
}

@media (min-width: 1024px) {
  .container--deals--title {
    text-align: left;
    justify-content: flex-start;
  }
}

.paragraph {
  &--blackfriday-letreiro {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;

    .strong--blackfriday-letreiro {
      color: #00c985;
      font-size: 38px;
      font-weight: 900;
      font-family: 'Rubik';
    }

    .italic--blackfriday-letreiro {
      font-style: normal;
      font-size: 20px;
    }
  }
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--franchise-main-banner-text {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .headingLevel2--franchise-main-banner-text {
    font-size: 18px;
  }

  .container--franchise-main-banner-text {
    width: 60%;
    margin-right: 80px;
  }
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--about-title-category {
  color: #008651;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.container--about-title-quetions .heading {
  color: #008651;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  padding: 50px 0 10px 0;
  height: auto;
}

.container--about-description {
  font-family: sans-serif;
  padding-right: 30px;

  .strong {
    font-weight: bold;
    font-family: sans-serif;
  }

  .italic {
    font-family: sans-serif;
  }

  .link {
    color: #008651;
    font-family: sans-serif;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .listItem {
    font-family: sans-serif;
  }
}

.container--about-description .paragraph {
  font-family: sans-serif;
  margin: 0;
  color: #3f3f40;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.link--deals {
  color: #7c7c7c;
  font-size: 0.9375rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link--deals:hover {
  color: #008651;
}

/* Novidades Home */
.container--promotion-news-content--title {
  justify-content: center;
  background: #333;
  padding-top: 25px;
}

.heading--promotion-news-content--title {
  text-transform: uppercase;
  color: #008651;
  font-family: 'Gotham';
  font-size: 17px;
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* Header */
.container--textTipbar {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.paragraph--textTipbar {
  margin: 0;
  padding: 3px 0 0;
}

.container--textTipbar {
  justify-content: center;
}

.link--textTipbar {
  text-decoration: none;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: -0.5px;
  color: #7c7c7c;
  font-family: 'lucida sans unicode', 'lucida grande', sans-serif;

  @media screen and (max-width: 768px) {
  }
}

.strong--textTipbar {
  color: #a7d163;
}
//
.paragraph--title-policy {
  color: #008651;
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
}

.headingLevel1--titulo-quem-somos,
.headingLevel5--titulo-imprensa {
  color: #008651;
  font-family: gotham;
  font-size: 18px;
  margin: 15px 0 0 0;
  background: #fff;
  opacity: 0.7;
  padding: 5px 0;
}

.headingLevel1--titulo-quem-somos {
  font-size: 32px;
  margin: 15px 0;
}

.container--assessoria-btn,
.container--missao-e-valores-btn,
.container--historia-btn {
  :first-child {
    background: #27ae61;
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 40px;
    color: white;
    margin: inherit;
  }

  background: none;
  padding: 0;
  margin: 20px 0;
}

.heading--margin-0 {
  margin: 10px;
}
.paragraph--assessoria-btn {
  font-family: gotham, sans-serif;
  font-size: 18px;
  margin: 12px 0;
}
.paragraph--email {
  margin-left: 5px;
}
.link--email {
  color: #008651;
  text-decoration: none;
}
.link--email:hover {
  color: #3d766c;
}

.heading--frete-title {
  font-size: 21px;
  color: #72c44b !important;
  font-weight: bold;
  font-family: gotham, sans-serif;
}
.paragraph--frete-warn {
  font-size: 12px;
}
.paragraph {
  &--title-frete {
    font-size: 12px;
  }
  &--light {
    font-size: 12px;
  }
  &--med {
    font-size: 12px;
  }

  &--heavy {
    font-size: 12px;
  }
}
.paragraph {
  &--heavy-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
  &--med-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
  &--light-title {
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
    color: #72c44b;
    font-weight: bold;
    font-size: 21px;
    margin: 0;
  }
}
.paragraph--caution-text {
  font-size: 10px;
}
.paragraph--color-main {
  color: #008651;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0 0 0;
}

.container--frete-title {
  margin-top: 30px;
}

.heading--color-main {
  color: #72c44b;
  font-weight: bold;
  margin: 10px 0 0 0;
  font-size: 32px;
}

.paragraph--little-text {
  font-size: 10px;
  margin: 0;
}
.container--franquia-content {
  display: flex;
  align-items: center;
}
.container--franquia-cor-1 {
  background: #27ae60;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-sec {
  background: #a7d163;
  color: #fff;
  margin: 5px 0;
}
.container--franquia-cor-2 {
  color: #fff;
  background: #a7d163;
  margin: 10px 0;
}
.container--franquia-right {
  @media screen and (min-width: 1024px) {
    margin-left: 15px;
  }
}
.paragraph--franquia-right {
  padding: 0 10px;
  justify-content: flex-start !important;
}
.container--bg-table {
  display: flex;
  justify-content: center;
}

.container--blackfriday-letreiro {
  margin: 0 auto;
}

.paragraph--bg-table {
  margin: 14px 0;
}
.paragraph--custo-investimento-content {
  max-width: 500px;
  margin-bottom: 70px;
}
.container--content-table {
  @media screen and (min-width: 1024px) {
    margin-left: 10px;
  }
}

.paragraph.nostyle {
  color: initial;
  text-decoration: none;
}

.paragraph--franqueado-header-text {
  margin: 2px 0;
  font-family: 'Gotham';
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  align-items: center;

  :first-child {
    color: #fff;
  }

  &::before {
    content: url('/arquivos/new-icon-franq2.png');
    margin-right: 10px;
    padding-top: 7px;
  }
}

@media (max-width: 425px) {
  .paragraph--franqueado-header-text {
    font-size: 12px;

    :first-child {
      text-align: center;
      max-width: 70px;
    }
    &::before {
      margin-right: 3px;
    }
  }
}
//

// Black Friday
.paragraph--text-blackfriday {
  color: #ffffff;
  font-size: 16px;

  @media screen and (max-width: 767px) {
    padding: 0 16px;
  }
}

.wrapper--text-form-blackfriday {
  width: 100%;
}

.paragraph--text-form-blackfriday,
.paragraph--title-success-blackfriday {
  display: block;
  margin: 0 auto 16px;
  padding-top: 16px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.paragraph--title-success-blackfriday {
  padding-top: 32px;
  margin-bottom: 8px;
}

.paragraph--text-success-blackfriday {
  color: #ffffff;
  font-size: 18px;
  margin-top: 0;
}

.paragraph--text-inscreva-se-blackfriday {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
// Fim Black Friday

// Popup Black Friday
.paragraph--popup-title-success-blackfriday {
  min-height: 60px;
  font-size: 0;

  @media all and (max-width: 767px) {
    min-height: 12px;
  }
}

.wrapper--popup-text-success-blackfriday {
  width: 100%;
}

.paragraph--popup-text-success-blackfriday {
  display: block;
  width: 100%;
  max-width: 409px;
  height: 74px;
  margin: 0 auto 128px;
  background: url('/arquivos/popup-bf-mundoverde-text-success.png') center
    no-repeat;
  background-size: 100% 100%;
  font-size: 0;

  @media all and (max-width: 767px) {
    margin: 0 auto 48px;
    background-size: contain;
  }
}
// Fim Popup Black Friday

:global(.vtex-rich-text-0-x-paragraph--about-title-quetions) {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4b2b4a;
  text-transform: uppercase;
  margin: 20px 0 8px;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.container {
  //Minicart
  &--minicart {
    &-empty-card {
      justify-content: center;
      padding: 10px 0;
    }
  }

  //Ofertas Mundo Verde
  &--title-text-banner-seo {
    background-color: rgba(77, 77, 74, 0.5);
    bottom: 0;
    color: #f1f2f2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  //Departamento
  &--department {
    &-filter {
      &-subtitle-text {
        display: flex;
        margin-left: 64px;
      }
    }
  }

  //Category info
  &--category {
    &-info-content {
      color: #333;
      font: {
        family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        size: 14px;
        weight: 400;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  //Seja um franqueado
  &--franchise {
    &-description-text {
      @media (min-width: 1025px) {
        align-items: center;
        display: flex;
        margin: 0 auto;
        padding: {
          left: 20px;
          right: 30px;
        }
      }
    }

    &-benefits-text {
      @media (min-width: 768px) {
        padding-left: 20px;
      }
    }

    &-selection-text {
      padding-right: 25px;
    }

    &-selection2-text {
      padding-left: 15px;
    }

    &-main-banner-text {
      @media (min-width: 1025px) {
        padding-right: 40px;
      }

      @media (min-width: 1366px) {
        padding-right: 95px;
      }
    }
  }

  //Seo content
  &--seo {
    &-content-bottom {
      @media (min-width: 640px) {
        width: 100% !important;
      }
    }
  }

  //Footer
  &--footer {
    &-contact {
      &-email {
        justify-content: center;

        @media (min-width: 1025px) {
          justify-content: flex-start;
        }
      }

      &-text {
        justify-content: center;

        @media (min-width: 1025px) {
          justify-content: flex-start;
        }
      }
    }
  }
}

.wrapper {
  //Departamento
  &--department {
    &-filter {
      &-subtitle-text {
        align-items: center;
        color: #008651;
        display: flex;
      }
    }
  }

  //Seja um franqueado
  &--franchise {
    &-benefits-text {
      display: flex;
      justify-content: center;
    }

    &-description-text {
      margin-left: auto;
      padding-right: 40px;

      @media (max-width: 1024px) {
        padding: 0 20px;
      }
    }

    &-selection-text {
      margin-left: auto;
    }

    &-cases-title {
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 20px 30px;
      width: 100%;
    }
  }

  //Footer
  &--footer {
    &-contact {
      &-title {
        text-align: center;
        width: 100%;

        @media (min-width: 1025px) {
          text-align: left;
        }
      }
    }

    &-methods {
      &-title {
        text-align: center;
        width: 100%;

        @media (min-width: 1025px) {
          text-align: left;
        }
      }
    }
  }

  //Seo content
  &--seo {
    &-content-bottom-left {
      @media (min-width: 640px) {
        padding-right: 30px;
      }
    }

    &-content-bottom-right {
      @media (min-width: 640px) {
        padding-left: 30px;
      }
    }
  }
}

.heading {
  //Ofertas Mundo Verde
  &--title-text-banner-seo {
    font-size: 30px;
    line-height: 1.4;
    max-width: 680px;
    padding: 0 15px;
  }

  //Faq AME
  &--faq {
    &-ame-text {
      color: #008651;
    }
  }
}

.headingLevel2 {
  //Seja um franqueado
  &--franchise {
    &-main-banner-text {
      @media (min-width: 1025px) {
        font-size: 31px;
        line-height: 40px;
        margin: 0;
        max-width: 375px;
        padding-bottom: 15px;
      }

      @media (min-width: 1366px) {
        font-size: 36px;
        line-height: 46px;
        max-width: 410px;
      }
    }

    &-description-text {
      @media (min-width: 1025px) {
        font: {
          size: 24px;
          weight: 500;
        }
        line-height: 28px;
        margin: 0;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      @media (min-width: 1366px) {
        font-size: 32px;
        line-height: 36px;
      }
    }

    &-brand-title {
      @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        padding-bottom: 40px;
      }

      @media (min-width: 1366px) {
        font: {
          size: 28px;
          weight: 600;
        }
      }
    }

    &-tips-title {
      color: #008651;
      margin: 0;

      @media (min-width: 1025px) {
        font: {
          size: 33px;
          weight: 500;
        }
        line-height: 38px;
        max-width: 495px;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      @media (min-width: 1366px) {
        font-size: 44px;
        line-height: 48px;
        max-width: 588px;
      }
    }

    &-benefits-title {
      color: #008651;
      padding: 18px 6px 26px 6px;

      @media (min-width: 320px) {
        font-size: 20px;
      }

      @media (min-width: 375px) {
        font-size: 22px;
      }

      @media (min-width: 425px) {
        font-size: 26px;
      }

      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        padding-bottom: 30px;
        color: #fff;
      }

      @media (min-width: 1366px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    &-selection-title {
      @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        max-width: 395px;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      @media (min-width: 1366px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    &-tax-title {
      font-size: 24px;
      @media (min-width: 1025px) {
        font-size: 32px;
        line-height: 36px;
        margin: 0;
        padding-bottom: 16px;
      }

      @media (min-width: 1366px) {
        font-size: 38px;
        line-height: 40px;
      }
    }

    &-cases-title {
      margin: 0;

      @media (min-width: 1025px) {
        font-size: 24px;
        line-height: 28px;
        max-width: 445px;
      }

      @media (min-width: 1366px) {
        font-size: 38px;
        line-height: 40px;
        max-width: 660px;
      }
    }
  }

  //SEO content
  &--seo {
    &-content-top {
      font-size: 1.75rem;
      font-weight: bold;
      margin: 35px auto 0;
      line-height: 26px;
      color: #4b2b4a;
      text-transform: uppercase;

      @media (min-width: 1025px) {
        margin-top: 35px;
        padding-left: 30px;
      }
    }

    &-content-bottom {
      color: #008651;
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      padding: 50px 0 10px 0;
      height: auto;

      &:empty {
        display: none;
      }
    }
  }
}

.headingLevel3 {
  //Seja um franqueado
  &--franchise {
    &-description-text {
      @media (min-width: 1025px) {
        font-size: 20px;
        line-height: 24px;
        margin: 0;
      }

      @media (min-width: 1366px) {
        font: {
          size: 28px;
          weight: 500;
        }
      }
    }

    &-tips-title {
      color: #fff;
      margin: 0;

      @media (min-width: 1025px) {
        font: {
          size: 20px;
          weight: 600;
        }
        line-height: 25px;
        padding: {
          bottom: 10px;
          top: 30px;
        }
      }

      @media (min-width: 1366px) {
        font-size: 27px;
        line-height: 30px;
      }

      @media (max-width: 1024px) {
        font-size: 29px;
        padding: 0 8px;

        .strong--franchise-tips-title {
          padding: 20px 0;
          font-style: normal;
          font-size: 33px;
          text-transform: uppercase;
          color: #00c68b;
          font-family: 'Gotham';
        }
      }

      @media (max-width: 425px) {
        font-size: 16px;

        .strong--franchise-tips-title {
          font-size: 22px;
        }
      }

      @media (max-width: 375px) {
        font-size: 14px;
      }

      @media (max-width: 320px) {
        font-size: 12px;
      }
    }
  }

  //SEO content
  &--seo {
    &-content-top {
      font-size: 1.55rem;
      font-weight: bold;
      color: #4b2b4a;
      margin: 0;
      text-transform: uppercase;

      @media (min-width: 1025px) {
        padding-left: 30px;
      }

      &:empty {
        display: none;
      }
    }

    &-content-bottom {
      color: #008651;
      margin: 0;
      font-weight: 700;
      font-size: 24px;
      padding: 50px 0 10px 0;
      height: auto;

      &:empty {
        display: none;
      }
    }
  }
}

.headingLevel4 {
  //Seja um franqueado
  &--franchise {
    &-cases-text {
      color: #fff;
      margin: 0;
      padding-bottom: 10px;
    }
  }

  //SEO content
  &--seo {
    &-content-bottom {
      font-size: 1.15rem;
      font-family: sans-serif;
      color: #3f3f40;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      margin: 20px 0 8px;

      &:empty {
        display: none;
      }
    }
  }
}

.strong {
  //Seja um franqueado
  &--franchise {
    &-main-banner-text {
      font-family: 'Gotham';
      text-shadow: 2px 2px 2px #69c58d;
    }

    &-tips-subtitle {
      @media (min-width: 1025px) {
        font: {
          family: 'Gotham';
          size: 18px;
        }
        line-height: 23px;
        text-transform: initial;
      }

      @media (min-width: 1366px) {
        font-size: 24px;
        line-height: 28px;
      }

      &:first-child {
        text-transform: uppercase;
      }
    }
  }

  //Faq AME
  &--faq {
    &-ame-text {
      text-decoration: underline;
    }
  }
}

.paragraph {
  //Category info
  &--category {
    &-info-title {
      font-weight: 700;
    }
  }

  //Seja um franqueado
  &--franchise {
    &-box-mobile-text {
      text-align: center;
      font-size: 10px;
      width: 200px;
      margin-top: 1px;
      font-weight: bold;
      color: #7c7c7c;
    }

    &-description-text {
      @media (min-width: 1025px) {
        font: {
          size: 15px;
          weight: 300;
        }
        line-height: 20px;
        margin: 0;
        max-width: 500px;
      }

      @media (min-width: 1366px) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    &-box-text {
      @media (min-width: 1025px) {
        font: {
          size: 14px;
          weight: normal;
        }
        line-height: 18px;
        margin: 0;
        padding-left: 20px;
      }

      @media (min-width: 1366px) {
        font-size: 18px;
        line-height: 22px;
      }

      @media (max-width: 1024px) {
        text-align: center;
      }
    }

    &-tips-subtitle {
      font-family: 'Gotham';
      margin: 0;

      @media (min-width: 1025px) {
        max-width: 640px;
        padding-bottom: 20px;
      }

      @media (min-width: 1366px) {
        max-width: 890px;
      }

      @media (max-width: 1024px) {
        padding: 26px 8px 0 8px;

        .italic--franchise-tips-subtitle {
          color: #00c68b;
          font-style: normal;
        }
      }
    }

    &-tips-text {
      color: #fff;
      margin: 0;

      @media (min-width: 1025px) {
        font-size: 18px;
        line-height: 23px;
        max-width: 570px;
        padding-bottom: 10px;
      }

      @media (min-width: 1366px) {
        font-size: 24px;
        line-height: 28px;
        max-width: 800px;
      }

      @media (max-width: 1024px) {
        padding: 20px 8px 0 8px;
      }
    }

    &-tips-link {
      font-family: 'Gotham';
      margin: 0;

      @media (min-width: 1025px) {
        font-size: 10px;
        line-height: 15px;
      }

      @media (min-width: 1366px) {
        font-size: 19px;
        line-height: 24px;
      }

      @media (max-width: 1024px) {
        padding: 20px 8px 0 8px;
        font-size: 10px;
        font-family: 'lato';

        .link--franchise-tips-link {
          text-decoration: none;
          font-family: 'lato';
        }
      }
    }

    &-benefits-text {
      color: #0b0b0b;
      text-align: center;
      width: 70%;

      @media (min-width: 768px) {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        color: #fff;
      }

      @media (min-width: 1366px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &-selection-text {
      @media (min-width: 1025px) {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        max-width: 410px;
      }

      @media (min-width: 1366px) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &-selection2-text {
      @media (min-width: 1025px) {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
        max-width: 410px;
      }

      @media (min-width: 1366px) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    &-tax-subtitle {
      @media (min-width: 1025px) {
        font-size: 20px;
        line-height: 25px;
        margin: 0;
        max-width: 374px;
        padding-bottom: 16px;
      }

      @media (min-width: 1366px) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-cases-text {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }

  //SEO content
  &--seo {
    &-content-top {
      color: #158957;
      font-size: 16px;
      margin-top: 24px;
      line-height: 30px;
      text-align: justify;
      position: relative;

      @media (min-width: 1025px) {
        padding-left: 30px;
      }

      &:empty {
        display: none;
      }

      &::before {
        content: '';
        display: block;
        border: 2.5px solid #4b2b4a;
        border-radius: 50%;
        background: #fff;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -1px;
        top: -24px;
        z-index: 1;
      }

      &::after {
        content: '';
        display: block;
        background: #4b2b4a;
        height: 2.5px;
        position: absolute;
        width: 100%;
        max-width: 95vw;
        margin: 0;
        font-size: 0;
        align-items: center;
        right: 0;
        top: -10px;
      }

      @media (min-width: 1025px) {
        &::before {
          left: -30px;
          top: -35px;
        }

        &::after {
          right: 0;
          top: -22px;
        }
      }
    }

    &-content-bottom {
      font-family: sans-serif;
      margin: 0;
      color: #3f3f40;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;

      &:empty {
        display: none;
      }

      &:last-child {
        padding-bottom: 20px;
      }
    }
  }

  //Footer
  &--footer {
    &-contact {
      &-title {
        color: #c4c4c4;
        font: {
          size: 14px;
          weight: 700;
        }
        line-height: 18px;
        margin: 0 0 10px;
        text-transform: uppercase;
      }

      &-email {
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        text-align: center;

        @media (min-width: 1025px) {
          text-align: left;
        }

        @media (min-width: 1280px) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      &-text {
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        text-align: center;

        @media (min-width: 1025px) {
          text-align: left;
        }
      }
    }

    &-methods {
      &-title {
        color: #c4c4c4;
        font: {
          size: 14px;
          weight: 700;
        }
        line-height: 18px;
        margin: 0 0 10px;
        text-transform: uppercase;
      }
    }
  }
}

.italic {
  //Seja um franqueado
  &--franchise {
    &-tips-subtitle {
      color: #008651;
      font-family: 'Gotham';
      text-transform: initial;

      @media (min-width: 1025px) {
        font: {
          size: 20px;
          style: normal;
          weight: 600;
        }
        line-height: 23px;
      }

      @media (min-width: 1366px) {
        font-size: 30px;
        line-height: 31px;
      }
    }
  }
}

.link {
  //Seja um franqueado
  &--franchise {
    &-tips-link {
      color: #fff;
      font-family: 'Gotham';
      margin: 0;

      @media (min-width: 1025px) {
        font-size: 10px;
        line-height: 15px;
      }

      @media (min-width: 1366px) {
        font-size: 17px;
        line-height: 21px;
      }
    }
  }

  //Seo content
  &--seo {
    &-content-bottom {
      color: #008651;
      font-family: 'lato', sans-serif !important;
      font-weight: bold;

      &:empty {
        display: none;
      }
    }
  }

  //Footer
  &--footer {
    &-contact {
      &-email {
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
      }
    }
  }
}

.paragraph--text-link-franqueado-header {
  margin: 0;
  :first-child {
    color: #fff;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
  }
}

@media (max-width: 425px) {
  .paragraph--text-link-franqueado-header {
    font-size: 10px;
    :first-child {
    }
  }
  .paragraph--ame-pdp-1 {
    margin-bottom: 0;
    position: relative;
    color: #4d4d4f;

    @media (max-width: 1025px) {
      margin-left: -70px;
    }
  }

  .paragraph--ame-pdp-1::after {
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url('https://mundoverde.vtexassets.com/arquivos/ame-logo.png');
    }
    content: '';
    height: 17px;
    left: 100px;
    position: absolute;
    top: 4px;
    width: 60px;
    z-index: 1;
  }

  .paragraph--ame-pdp-2 {
    color: #ee2e60;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 23px;
  }
}

.paragraph--newsletter-text {
  font-family: 'Gotham', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: bold;

  @media (max-width: 425px) {
    padding: 0 35px;
  }
}

.wrapper--newsletter-text {
  padding-left: 110px;
  position: relative;

  ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 88px;
    height: 90px;
    background-image: url(/arquivos/newsletter.png);
    background-repeat: no-repeat;

    @media (max-width: 425px) {
      display: none;
    }
  }

  @media (max-width: 425px) {
    padding-left: 0;
  }
}

.paragraph--newsletter-sucess-title {
  font-family: 'Gotham', -apple-system, 'BlinkMacSystemFont', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: none;
  letter-spacing: 0;
  color: #fff;
}

.paragraph--newsletter-sucess-text {
  color: #fff;
  width: 260px;
}
