.searchResultContainer {
	background-color: #f2f2f2;
	max-width: 100%;
  padding: 0;
    
	.filter__container--filterNavigator--title {
		display: none;
	}

	:global(.vtex-store-components-3-x-discountInsideContainer) {
		@media screen and (max-width: 1024px) {
			margin-right: 0;
		}
	}
}

:global(.vtex-flex-layout-0-x-flexRow--productCountCol) {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 64px;

  .galleryTitle--layout {
    color: #4d4d4d;
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
  }

  .totalProducts--layout {
    color: #4d4d4d;
    font: {
      size: 14px;
      weight: 700;
    }
    padding: 0;
    padding-top: 2px;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }

    .totalProductsMessage {
      color: inherit;
    }
  }
}

.galleryTitle--layout {
	color: #008651;
	font-size: 20px;
  max-width: 1250px;
  padding: 15px;
  text-align: center;
}

.totalProductsMessage {
  text-transform: lowercase;
}

.galleryItem {
	padding: 5px;

	@media screen and (min-width: 1024px) {
		padding: 20px;
	}
}

.gallery {
	margin: {
		bottom: 50px;
		top: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.gallery {
		margin-right: -60px;
		padding-left: 20px;

		:global(.vtex-product-summary-2-x-container) {
			padding: 20px 15px;
		}
	}
}

.orderByDropdown {
	z-index: 100;
}

.filterPopupArrowIcon,
.gridIcon,
.singleGridIcon {
	color: #008651;
}

.categoryItemChildren--filterNavigator {
	background: #f2f2f2;
	color: #3f3f40;
	transform: translateX(-1px);
}

.orderByButton {
	padding: {
		bottom: 10px;
		top: 10px;
	}
}