.sliderLayoutContainer {
  justify-content: center;

  &--carousel {
    background-color: #f0f0f0;
  }

  &--season-promotion--cards {
    background-color: #f2f2f2;
  }

  // Slider LP Promoções
  &--promo-options {
    background-color: #fff;
    margin-top: 20px;
  
    .sliderTrackContainer {
      max-width: 1250px;
      padding: 20px 15px;
    }
  
    .slideChildrenContainer--promo-options {
      text-align: center;
  
      &:hover {
        :global(.vtex-store-components-3-x-imageElement) {
          transition: transform 0.3s ease-in-out;
          transform: scale(1.15);
        }
  
        :global(.vtex-rich-text-0-x-link--deals) {
          color: #008651;
        }
      }
    }
  }
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sliderArrows {
  color: #fff;

  // Categories slider
  &--categories-slider {
    color: rgba(36, 134, 83, 1);
    margin: auto;
    bottom: 0;
    top: -24px;
    
    
    &:hover {
      color: rgba(36, 134, 83, 0.8);
    }
  }
  
  //Vitrine de recomendações
  &--recommendation {
    color: #008651;
  }
}

.sliderLeftArrow {
  // Categories slider
  &--categories-slider {
    left: -15px;
  }
}

.sliderRightArrow {
  // Categories slider
  &--categories-slider {
    right: -15px;
  }
}

.caretIcon {
  // Categories slider
  &--categories-slider {
    width: 15px;
    height: 15px;
  }
}

// Black Friday
.sliderLayoutContainer--banner-blackfriday {
  :global(.vtex-store-components-3-x-imageElement--banner-blackfriday) {
    display: block;
  }
}
// Fim Black Friday

// Black Friday
.sliderLayoutContainer--banner-blackfriday {
  background: #000000;

  :global(.vtex-store-components-3-x-imageElement--banner-blackfriday) {
    display: block;
    height: auto;
  }
}

.sliderLayoutContainer--banner-offers {
  background: #000000;
}

.imageElement--banner-offers {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
// Fim Black Friday

// Popup Black Friday
:global(.vtex-store-components-3-x-imageElementLink--popup-banner-blackfriday) {
  pointer-events: none;
}
// Fim Popup Black Friday
.slideChildrenContainer {
  &--recommendation {
    padding: 10px;

    :global(.vtex-product-summary-2-x-container) {
      padding: 0;
    }
  }
}

@media (min-width: 1025px) {
  .slideChildrenContainer {
    &--recommendation {
      padding: 20px 5px;

      :global(.vtex-product-summary-2-x-container) {
        padding: 20px 15px;
      }
    }
  }
}