.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  padding: 0;
  margin-left: 10px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 50px;
  border: none;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  padding: 8px 6px 6px 35px;
  border: 1px #eee solid;
  border-radius: 12px;
  background-color: rgba(242, 242, 242, 0.6);
}

.searchBarContainer :global(.vtex-styleguide-9-x-input):focus {
  background-color: #fff;
  border-color: #008651;
}

.searchBarContainer :global(.vtex-input__prefix) {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-right: 5px;
}
.productBrandLogoSpacer {
  display: none;
}

.searchBarInnerContainer {
  :global(.vtex-input__suffix) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    padding: 0;
    padding-right: 5px;
  }
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.imageElement--season-promotion--image {
  width: 10%;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  .imageElement--season-promotion--card {
    width: 100%;
    display: block;
  }

  .imageElement--season-promotion--card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  .imageElementLink--season-promotion--card {
    display: block;
    overflow: hidden;
  }
}

.imageElementLink--promotion-news--image {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.imageElement--promotion-news--image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageElement--promotion-news--image:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 640px) {
  .imageElementLink--promotion-news--image--left {
    margin-right: 10px;
  }

  .imageElementLink--promotion-news--image--right {
    margin-left: 10px;
  }
}

.logoLink {
  display: block;
}

.sizeDesktop {
  display: block;
  padding: 0;
}

.searchIcon--main-search-bar {
  width: 25px;
  height: 25px;
  color: #0f834c;
}

.vtex-minicart-2-x-cartIcon {
  display: none;
}

// NewsLetter
.newsletter {
  background-color: #008651;
  max-width: 100%;
  margin-top: 80px;

  .container {
    max-width: 1250px;
    padding: 15px;
  }

  .label {
    font-size: 18px;
    text-transform: uppercase;
  }

  .form {
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 40px;

    .inputGroup--footer-newsletter {
      flex-direction: column;
    }

    .buttonContainer {
      margin-top: 20px;

      :global(.vtex-button) {
        width: 100%;
      }
    }

    :global(.vtex-button) {
      background-color: #fff;
      color: #008651;
      border-color: #fff;
      font-family: gotham, sans-serif;
      border-radius: 0.5rem;
      font-size: 15px;
      text-transform: initial;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }

    :global(.vtex-input-prefix__group) {
      border: 1px solid #fff;
    }

    :global(.vtex-styleguide-9-x-input) {
      text-align: center;
    }
  }
}

@media screen and (min-width: 640px) {
  .newsletter {
    .form {
      .inputGroup--footer-newsletter {
        flex-direction: row;
      }

      .buttonContainer {
        margin-top: 0px;

        :global(.vtex-button) {
          width: auto;
        }
      }

      :global(.vtex-input) {
        padding-left: 110px;
        position: relative;
      }

      :global(.vtex-input)::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 88px;
        height: 90px;
        background-image: url(/arquivos/newsletter.png);
        background-repeat: no-repeat;
      }

      :global(.vtex-button) {
        padding: 0 100px;
      }

      .label {
        font-size: 18px;
        text-transform: initial;
        display: block;
        padding-left: 100px;
      }
    }
  }
}

.confirmationTitle--footer-newsletter,
.confirmationText--footer-newsletter {
  color: #fff;
}

:global(.vtex-breadcrumb-1-x-homeLink) {
  color: #008651;

  &:hover {
    opacity: 0.8;
  }
}

// Página de Produto
:global(.vtex-product-context-provider) {
  :global(.vtex-breadcrumb-1-x-container) {
    max-width: 1250px;
    padding: 0 15px;
    padding-top: 5px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--product-main-info) {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;

    .productImagesGallerySwiperContainer {
      width: 100%;
      max-width: 384px;
      max-height: 384px;
    }

    .productImagesThumbsSwiperContainer {
      margin-top: 50px;

      .productImagesThumb {
        border: 1px solid rgba(68, 68, 68, 0.35);
        padding: 10px;
        margin-right: 5px;
      }

      .productImagesThumbActive {
        opacity: 0.8;
      }
    }
  }

  :global(.vtex-store-components-3-x-shippingTableRadioBtn) {
    display: none;
  }

  :global(.vtex-reviews-and-ratings-1-x-summaryContainer) {
    font-size: 0;
  }

  .productDescriptionContainer {
    max-width: 1250px;
    padding: 0 15px;
  }

  .productBrandName {
    color: #7c7c7c;
    text-decoration: underline;
  }

  .price_listPriceContainer {
    font-size: 18px;
    color: #707070;
    font-weight: 600;
  }

  .price_sellingPrice {
    font-size: 44px;
    padding: 0;
  }

  .productNameContainer {
    color: #4d4d4f;
    padding: 5px 0;
  }

  // buy button
  :global(.vtex-flex-layout-0-x-flexColChild--product--buy-button) {
    display: flex;
    justify-content: center;

    :global(.vtex-button) {
      max-width: 200px;

      :global(.vtex-button__label) {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    @media screen and (min-width: 540px) {
      justify-content: flex-end;
    }
  }

  :global(.vtex-flex-layout-0-x-flexCol--product-info-right) {
    :global(.vtex-flex-layout-0-x-flexRowContent) {
      justify-content: space-between;
    }

    :global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
      transform: scaleX(0.8) scaleY(0.9);

      :global(.vtex-styleguide-9-x-hideDecorators) {
        width: 3em;
      }
    }

    @media screen and (max-width: 540px) {
      text-align: center;
    }

    .shippingContainer {
      margin: 20px 0;

      :global(.vtex-button) {
        padding: 10px 0;
        margin: 0;
      }

      :global(.vtex-button__label) {
        padding: 0 !important;
      }
    }
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 0;

    @media screen and (min-width: 540px) {
      align-items: flex-end;
    }
  }
}

:global(.vtex-reviews-and-ratings-1-x-summaryContainer),
:global(.vtex-reviews-and-ratings-1-x-inlineContainer) {
  min-height: 23px;
}

:global(.vtex-reviews-and-ratings-1-x-stars) {
  color: #fecd00;
  font-size: 18px;
}

.shippingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :global(.vtex-button),
  :global(.vtex-address-form__postalCode) {
    width: 200px;
    padding: 10px 0;
  }

  @media screen and (max-width: 540px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.shareButtons {
  @media screen and (max-width: 540px) {
    justify-content: center;
  }
}

:global(.vtex-reviews-and-ratings-1-x-container) {
  padding-bottom: 20px;
}

:global(.vtex-login-2-x-inputContainer) {
  min-width: 300px;
}

:global(.vtex-login-2-x-inputContainerAccessCode) {
  :global(.vtex-styleguide-9-x-input)::placeholder {
    font-family: lato;
  }
}

:global(.vtex-product-specification-badges-0-x-groupContainer) {
  margin: -30px;

  @media screen and (max-width: 900px) {
    margin: 0;
    display: none;
  }

  :global(.vtex-product-specification-badges-0-x-badgeContainer) {
    background-color: #fff;
    border: 1px solid #008651;
    border-radius: 4px;
    padding: 0;
  }

  :global(.vtex-product-specification-badges-0-x-badgeContainer--vencimento-proximo) {
    background-color: #fff;
    border: 1px solid #f60;
    border-radius: 4px;
    padding: 0;
  }

  :global(.vtex-product-specification-badges-0-x-badgeText) {
    color: #008651;
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px;
  }

  :global(.vtex-product-specification-badges-0-x-badgeText--vencimento-proximo) {
    color: #f60;
  }
}

.subscriberContainer {
  margin: 30px 0 10px;

  .title,
  .subscribeLabel {
    color: #008651;
    font-weight: bold;
  }

  .form {
    .content {
      max-width: initial;

      .submit {
        align-items: flex-start;
      }
      :global(.vtex-button) {
        width: 100%;
        padding: 3px 0;
      }
    }
  }
}

:global(.vtex-store-link-0-x-link) {
  text-decoration: none;
}

// lp florais
:global(.vtex-store-components-3-x-imageElement--nutri-icon) {
  display: block;
  margin: 0 auto;
}

:global(.vtex-store-components-3-x-imageElement--florais-body) {
  margin-top: -25px;
}

// fim lp florais

// página de produto
:global(.vtex-store-components-3-x-productImagesContainer--carousel) {
  :global(.vtex-store-components-3-x-carouselGaleryThumbs) {
    display: none !important;
  }
}

//Seja um franqueado
.imageElement {
  &--franchise {
    &-main-banner {
      @media (min-width: 1025px) {
        height: 530px;
        object: {
          fit: cover;
          position: right 74px;
        }
        width: max-content !important;
      }

      @media (min-width: 1366px) {
        height: 807px;
      }
    }

    &-description-slider {
      @media (min-width: 1025px) {
        object: {
          fit: cover;
          position: center -47px;
        }
        height: 600px;
      }

      @media (min-width: 1366px) {
        height: 800px;
        object-position: center -30px;
      }

      border-bottom-left-radius: 41%;
      border-top-left-radius: 50%;
      overflow: hidden;
    }

    &-brand-box-image {
      max-height: 60px !important;
      min-width: 60px;
    }

    &-tips-background {
      object: {
        fit: cover;
        position: center 116px;
      }
      width: auto !important;

      @media (min-width: 1025px) {
        height: 1015px;
        max-height: 1015px!important;
      }

      @media (min-width: 1366px) {
        height: 1173px;
        max-height: 1173px!important;
      }

      @media (min-width: 1760px) {
        height: 1270px;
        max-height: 1270px!important;
        object-position: center 155px;
      }
    }

    &-benefits-image {
      max-height: 60px !important;
      min-width: 60px;
    }

    &-selection-image {
      @media (min-width: 1025px) {
        width: max-content;
        object-fit: cover;
        height: 234px;
        object-position: -157px center;
      }

      @media (min-width: 1366px) {
        object-position: 50% center;
        height: 322px;
      }
    }

    &-selection-slider {
      @media (min-width: 1025px) {
        height: 732px;
        object-fit: cover;
        width: max-content!important;
        object-position: center 67px;
      }

      @media (min-width: 1366px) {
        height: 875px;
        object-position: center 20px;
      }
    }

    &-selection2-image {
      @media (min-width: 1025px) {
        object-position: -137px center;
        height: 218px;
        width: max-content;
        object-fit: cover;
        object-position: center center;
      }

      @media (min-width: 1366px) {
        height: 278px;
        object-position: -177px center;
      }
    }

    &-selection-slider-second {
      @media (min-width: 1025px) {
        width: max-content!important;
        object-fit: cover;
        height: 720px;
        object-position: -187px center;
      }

      @media (min-width: 1366px) {
        object-position: -347px -10px;
        height: 1035px;
      }
    }

    &-tax-slider {
      height: 510px;
      width: max-content !important;
      object-fit: cover;
      object-position: center center;
    }

    &-cases-back-image-desk {
      object-fit: cover;
      width: 100%;
      height: auto;

      @media (min-width: 1025px) {
        object-position: center -373px;
      }

      @media (min-width: 1366px) {
        object-position: center -502px;
      }
    }
    
    &-cases-image {
      max-height: 500px !important;
      display: block;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--franchise-description) {
  .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
