.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 15px;
  }
}

.flexRowContent--menu-link {
  color: #7c7c7c;
  background-color: inherit;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

// .flexRowContent--main-header,
.flexRow--searchbar-mobile {
  background-color: #f0f0f0 !important;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #7c7c7c;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  padding: 20px 15px;
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

/* Season Promotion Content */
.flexRow--product-description,
.flexRow--season-promotion--cards {
  background-color: #f2f2f2;
}

.flexRow--product-description {
  padding: 35px 0;

  :global(.vtex-store-components-3-x-container) {
    max-width: 1250px;
  }
}

.flexRowContent--season-promotion--cards {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 15px;
}

.flexColChild--season-promotion--content-card {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .flexCol--season-promotion--content-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
  }
}

/* Novidades Home */
.flexRow--promotion--container {
  background: #333;
}

.flexRowContent--promotion-news-content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.flexRowContent--main-header {
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--main-header,
.flexRowContent--main-header {
  background: white;
}

.flexRow--main-header {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.flexRow--menu-link {
  background-color: #fff;
  border-top: 0.08333rem solid #f2f2f2;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.flexRow--page-divisor {
  background-color: #f2f2f2;
  height: 80px;
}

//
.flexRowContent--row-main {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRow--container {
  max-width: 1250px;
  margin: 0 auto 50px auto;
  padding: 0 15px;
}

.flexRow--container-imprensa {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}

.flexCol--text-col {
  max-width: 325px;
}

.flexRow--row-main {
  background-image: url(/arquivos/bg-nutri.jpg);
  background-size: cover;
}

.flexRowContent--container-email {
  :first-child {
    width: auto !important;
    margin: 0;
  }

  :last-child {
    width: auto !important;
    margin: 0;
  }

  width: 100%;
}

.flexRow--row-all-frete {
  &:hover {
    background: #e0e0e0;
  }

  border-bottom: 1px solid #a09d9d;
}

.flexRow--row-bt {
  border-top: 1px solid #a09d9d;
}

@media screen and (min-width: 768px) {
  .flexRow--frete-weight {
    width: 75%;
    margin-left: 25%;
    display: flex !important;
  }
}

.flexRow--frete-weight {
  display: none;
}

.flexRowContent--mobile-df {
  display: flex;
  align-items: center;
}

.flexColChild--img-center,
.flexColChild--img-center:first-child {
  display: flex;
  justify-content: center;
}

.flexRowContent--tabela-contain {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 15% 100%;
    margin-top: -8px;
  }
}

.flexRowContent--tabela-contain {
  :first-child {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flexRow--secondary-table-container {
  margin-top: 60px;
}

.flexColChild--left-table-main {
  height: auto !important;
}

//

// Payment Methods - footer
.flexRowContent--footer--payments-methods--content {
  @media screen and (max-width: 540px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// vtex-flex-layout-0-x-flexRowContent

.flexCol--custom-payment-methods {
  background-image: url(/arquivos/paymentIcons-s1dcb2d2979.png);

  &--visa {
    background-position: 0 -70px;
    width: 33px !important;
    height: 25px;
  }

  &--mastercard {
    background-position: 0 -45px;
    width: 33px !important;
    height: 25px;
  }

  &--american {
    background-position: 0 -20px;
    width: 49px !important;
    height: 25px;
  }

  &--dinners {
    background-position: 0 -95px;
    width: 37px !important;
    height: 25px;
  }

  &--elo {
    background-position: -33px -70px;
    width: 25px !important;
    height: 25px;
  }

  &--boleto {
    background-position: -33px -45px;
    width: 36px !important;
    height: 25px;
  }
}

// Página missão e visão
.flexCol--container-missao-visao {
  :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-strong--title-mission) {
    padding-top: 20px;
    margin: 0;
    display: block;
  }
}

.flexCol--product-stack-info {
  :global(.vtex-product-specification-badges-0-x-groupContainer) {
    margin: 0;
  }
}

// Promoções
.flexRow--content-result--landing-promo {
  max-width: 1250px;
  margin: auto;
  padding: 20px 15px 50px;

  .flexRow--productCountCol {
    margin-left: 0 !important;
  }

  :global(.vtex-search-result-3-x-gallery) {
    margin: 0 !important;
    padding-left: 0px;
  }
}

// Nossas lojas
.flexRow--nossas-lojas--header {
  background-color: #56af31;

  :global(.vtex-rich-text-0-x-container--nossas-lojas--title) {
    justify-content: center;

    :global(.vtex-rich-text-0-x-paragraph),
    :global(.vtex-rich-text-0-x-headingLevel1) {
      color: #fff;
      font-weight: initial;
      font-size: 24px;
      text-align: center;
    }

    :global(.vtex-rich-text-0-x-paragraph) {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

// Forms (Nutricionistas e Franqueado)
.flexRow--form-mundo-verde {
  margin: 50px 0;

  .flexRowContent {
    max-width: 1250px;
    margin: auto;
    padding: 0 15px;

    :global(.vtex-dropdown__label),
    :global(.vtex-textarea__label),
    :global(.vtex-input__label) {
      font-weight: bold;
      margin-top: 10px;
    }

    :global(.vtex-checkbox__line-container) {
      margin: 10px 0;
      font-weight: bold;
    }

    :global(.vtex-store-form-0-x-formSubmitContainer) {
      margin: 20px 0;
    }
  }
}

// Black Friday
.flexRow--bg-blackfriday {
  text-align: center;
  background: #000000;
}

.flexRow--form-blackfriday {
  text-align: center;
  background: #000000;
}

.flexRow--form-blackfriday {
  .flexRowContent {
    :global(.vtex-flex-layout-0-x-flexColChild) {
      margin-bottom: 18px;
    }

    :global(.vtex-input),
    :global(.vtex-store-form-0-x-formSubmitContainer) {
      display: inline-block;
      vertical-align: middle;
    }

    :global(.vtex-input) {
      display: block;
      width: 50%;
      max-width: 420px;
      margin: 0 auto 16px;

      @media screen and (max-width: 680px) {
        width: 90%;
      }
    }

    :global(.vtex-styleguide-9-x-input) {
      color: #ffffff;
      text-align: left;
      background: transparent;
      border-bottom: 2px solid #ffffff;
      border-radius: 0;
    }

    :global(.vtex-store-form-0-x-formSubmitContainer) {
      width: 100%;
      max-width: 420px;
    }

    :global(.vtex-button) {
      float: right;
      width: 100%;
      max-width: 140px;
      margin-top: 8px;
      padding: 4px 0;
      color: #ffffff;
      font-weight: 700;
      text-transform: capitalize;
      background: #438a58;
      border: 0;
      border-radius: 10px 0 10px 0;
      outline: none;
      transition: all 0.3s ease;
    }

    :global(.vtex-input__label) {
      display: none;
    }

    :global(.vtex-input-prefix__group) {
      border: 0;
    }
  }
}
// Fim Black Friday

// Popup Black Friday
.flexRow--popup-form-blackfriday {
  position: relative;
  margin-top: -376px;
  padding-bottom: 72px;
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #000000;
  z-index: 9;

  @media all and (max-width: 767px) {
    margin-top: -53%;
    padding-bottom: 32px;
    background: #000000;
  }

  .flexRowContent {
    .flexRow--container {
      margin: 0 auto;
    }

    :global(.vtex-flex-layout-0-x-flexColChild) {
      margin-bottom: 0;
    }

    :global(.vtex-rich-text-0-x-wrapper--text-popup-form-blackfriday) {
      width: 100%;
    }

    :global(.vtex-rich-text-0-x-paragraph--text-popup-form-blackfriday) {
      display: block;
      width: 100%;
      max-width: 400px;
      height: 36px;
      margin: 18px auto 48px;
      background: url("/arquivos/popup-bf-mundoverde-text.png") center no-repeat;
      background-size: 100% 100%;
      font-size: 0;

      @media all and (max-width: 767px) {
        margin: 8px auto 18px;
        background-size: contain;
      }
    }

    :global(.vtex-input),
    :global(.vtex-store-form-0-x-formSubmitContainer) {
      display: inline-block;
      vertical-align: middle;
    }

    :global(.vtex-rich-text-0-x-container--text-form-blackfriday) {
      margin-bottom: 8px;

      @media all and (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    :global(.vtex-input) {
      display: block;
      width: 50%;
      max-width: 420px;
      margin: 0 auto 16px;

      @media screen and (max-width: 680px) {
        width: 90%;
      }

      :global(.vtex-input__label__text) {
        display: none;
      }
    }

    :global(.vtex-input__label) {
      display: none;
    }

    :global(.vtex-styleguide-9-x-input) {
      color: #ffffff;
      text-align: center;
      background: transparent;
      border-bottom: 2px solid #ffffff;
      border-radius: 0;
    }

    :global(.vtex-store-form-0-x-formSubmitContainer) {
      width: 100%;
      max-width: 420px;
    }

    :global(.vtex-button) {
      width: 100%;
      max-width: 332px;
      margin-top: 8px;
      color: #000000;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 40px;
      background: #3fb880;
      border: 0;
      border-radius: 0;
      outline: none;
    }

    :global(.vtex-input-prefix__group) {
      border: 0;
    }
  }

  :global(.vtex-modal-layout-0-x-closeButton) {
    width: 100%;
    max-width: 240px;
    margin-top: 8px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    background: #ffffff;
    border: 0;
    border-radius: 10px 0 10px 10px;
    outline: none;
  }
}

:global(.vtex-slider-layout-0-x-imageElement--popup-banner-blackfriday) {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

:global(.vtex-modal-layout-0-x-headerContainer--popup-banner-blackfriday-close) {
  position: absolute;
  width: 100%;
  background: transparent;
  border: 0;

  :global(.vtex-modal-layout-0-x-closeIcon--popup-banner-blackfriday-close) {
    color: #ffffff;
  }
}

:global(.vtex-modal-layout-0-x-paper--popup-blackfriday-scroll) {
  overflow: hidden;
}

:global(.vtex-modal-layout-0-x-backdrop) {
  background-color: #000000;
}
// Fim Popup Black Friday
