.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}


@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 15px;
  }
}

.flexRowContent--menu-link {
  color: #7c7c7c;
  background-color: inherit;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #7c7c7c;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  padding: 20px 15px;
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}


/* Season Promotion Content */
.flexRow--season-promotion--cards{
  background-color: #f2f2f2;
}

.flexRowContent--season-promotion--cards{
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 15px;
}

.flexColChild--season-promotion--content-card{
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .flexCol--season-promotion--content-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
  }
}


/* Novidades Home */
.flexRow--promotion-news-content {
  background: #333;
}

.flexRowContent--promotion-news-content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Header */
.flexRowContent--main-header{
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--main-header,
.flexRowContent--main-header{
  background: white;
}

.flexRow--main-header{
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.flexRow--menu-link {
  background-color: #fff;
  border-top: .08333rem solid #f2f2f2;
}

.flexRow--page-divisor {
  background-color: #f2f2f2;
  height: 80px;
}
//
.flexRowContent--row-main{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.flexRow--container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.flexRow--container-imprensa{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}
.flexCol--text-col{
  max-width: 325px;
}
.flexRow--row-main{
  background-image: url(/arquivos/bg-nutri.jpg);
  background-size: cover;
}
.flexRowContent--container-email{
  :first-child{
    width: auto !important;
  }
  :last-child{
    width: auto !important;
  }
  width: 100%;
}
.flexRow--row-all-frete {
  &:hover{
    background: #e0e0e0;
  }


  border-bottom: 1px solid #a09d9d;
}
//