.sliderLayoutContainer {
  justify-content: center;
  
  &--carousel {
    background-color: #f0f0f0;
  }

  // Slider LP Promoções
  &--promo-options {
    background-color: #fff;
    margin-top: 20px;
  
    .sliderTrackContainer {
      max-width: 1250px;
      padding: 20px 15px;
    }
  
  }
}

.sliderTrackContainer {
  max-width: 100%;
}

.layoutContainer--shelf {
  margin: {
    bottom: 20px;
    top: 20px;
  }
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding: {
    left: 0.5rem;
    right: 0.5rem;
  }
}

.slideChildrenContainer {
  &--banner-offers {
    background: #000000;
  }

  &--promo-options {
    text-align: center;
  
    &:hover {
      :global(.vtex-store-components-3-x-imageElement) {
        transform: scale(1.15);
        transition: transform 0.3s ease-in-out;
      }
  
      :global(.vtex-rich-text-0-x-link--deals) {
        color: #008651;
      }
    }
  }

  &--recommendation {
    padding: 10px;

    @media (min-width: 1025px) {
      padding: 20px 5px;
    }

    :global(.vtex-product-summary-2-x-container) {
      padding: 0;

      @media (min-width: 1025px) {
        padding: 20px 15px;
      }
    }
  }
}

.sliderArrows {
  color: #fff;

  // Categories slider
  &--categories-slider {
    color: rgba(36, 134, 83, 1);
    margin: auto;
    bottom: 0;
    top: -24px;

    &:hover {
      color: rgba(36, 134, 83, 0.8);
    }
  }
  
  //Vitrine de recomendações
  &--recommendation {
    color: #008651;
  }
}

.sliderLeftArrow {
  // Categories slider
  &--categories-slider {
    left: -15px;
  }
}

.sliderRightArrow {
  // Categories slider
  &--categories-slider {
    right: -15px;
  }
}

.caretIcon {
  // Categories slider
  &--categories-slider {
    height: 15px;
    width: 15px;
  }
}

.paginationDotsContainer {
  margin: {
    bottom: 0.5rem;
    top: 0.5rem;
  }
}