.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}


@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 15px;
  }
}

.flexRowContent--menu-link {
  color: #7c7c7c;
  background-color: inherit;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRowContent--main-header,
.flexRow--searchbar-mobile {
  background-color: #f0f0f0 !important;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #7c7c7c;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  padding: 20px 15px;
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}


/* Season Promotion Content */
.flexRow--season-promotion--cards {
  background-color: #f2f2f2;
}

.flexRowContent--season-promotion--cards {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px 15px;
}

.flexColChild--season-promotion--content-card {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .flexCol--season-promotion--content-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
  }
}


/* Novidades Home */
.flexRow--promotion--container {
  background: #333;
}

.flexRowContent--promotion-news-content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}


/* Header */
.flexRowContent--main-header {
  max-width: 1250px;
  margin: 0 auto;
}

.flexRow--main-header,
.flexRowContent--main-header {
  background: white;
}

.flexRow--main-header {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.flexRow--menu-link {
  background-color: #fff;
  border-top: .08333rem solid #f2f2f2;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
}

.flexRow--page-divisor {
  background-color: #f2f2f2;
  height: 80px;
}

//
.flexRowContent--row-main {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRow--container {
  max-width: 1250px;
  margin: 0 auto 50px auto;
  padding: 0 15px;
}

.flexRow--container-imprensa {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}

.flexCol--text-col {
  max-width: 325px;
}

.flexRow--row-main {
  background-image: url(/arquivos/bg-nutri.jpg);
  background-size: cover;
}

.flexRowContent--container-email {
  :first-child {
    width: auto !important;
    margin: 0;
  }

  :last-child {
    width: auto !important;
    margin: 0;
  }

  width: 100%;
}

.flexRow--row-all-frete {
  &:hover {
    background: #e0e0e0;
  }

  border-bottom: 1px solid #a09d9d;
}

.flexRow--row-bt {
  border-top: 1px solid #a09d9d;
}

@media screen and (min-width: 768px) {
  .flexRow--frete-weight {
    width: 75%;
    margin-left: 25%;
    display: flex !important;

  }
}

.flexRow--frete-weight {
  display: none;
}

.flexRowContent--mobile-df {
  display: flex;
  align-items: center;
}

.flexColChild--img-center,
.flexColChild--img-center:first-child {
  display: flex;
  justify-content: center;
}

.flexRowContent--tabela-contain {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 15% 100%;
    margin-top: -8px;
  }

}

.flexRowContent--tabela-contain {
  :first-child {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.flexRow--secondary-table-container {
  margin-top: 60px;
}

.flexColChild--left-table-main {
  height: auto !important;
}

//

// Payment Methods - footer
.flexRowContent--footer--payments-methods--content {
  @media screen and (max-width: 540px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}



// vtex-flex-layout-0-x-flexRowContent

.flexCol--custom-payment-methods {
  background-image: url(/arquivos/paymentIcons-s1dcb2d2979.png);

  &--visa {
    background-position: 0 -70px;
    width: 33px !important;
    height: 25px;
  }

  &--mastercard {
    background-position: 0 -45px;
    width: 33px !important;
    height: 25px;
  }

  &--american {
    background-position: 0 -20px;
    width: 49px !important;
    height: 25px;
  }

  &--dinners {
    background-position: 0 -95px;
    width: 37px !important;
    height: 25px;
  }

  &--elo {
    background-position: -33px -70px;
    width: 25px !important;
    height: 25px;
  }

  &--boleto {
    background-position: -33px -45px;
    width: 36px !important;
    height: 25px;
  }
}


// Página missão e visão
.flexCol--container-missao-visao {


  :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-strong--title-mission) {
    padding-top: 20px;
    margin: 0;
    display: block;
  }
}
