.container {
  :global(.vtex-button) {
    outline: none;

    &:hover {
      background-color: transparent;
    }
  }
}

.profileIcon {
  height: 28px;
  width: 38px;
}

.label {
  font: {
    size: 16px;
    weight: 600;
  }
  display: flex;
  flex-direction: column;

  color: #008651;
  max-width: 200px;
  padding-left: 20px;
  text-align: left;

  &::after {
    content: 'Entre ou Cadastre-se';
  }
}

.profile,
.label {
  text-transform: initial;
}

.button {
  padding-left: 0;
  position: relative;
  text-align: left;
  width: 100%;

  &:hover {
    &.button::before {
      background-position: 0 -24px;
    }
  }

  &::before {
    background-image: url(/arquivos//customerIcons-sebfa9bea5f.png);
    bottom: 5px;
    content: '';
    height: 24px;
    position: absolute;
    right: 0;
    width: 24px;
  }

  :global(.vtex-button__label) {
    text-transform: initial;
  }
}

.accountOptions {
  :global(.mv4) {
    margin: 0;
  }

  :global(.t-action--small) {
    text-transform: initial;
  }

  :global(.vtex-button) {
    width: 100%;

    &:hover {
      &:global(.vtex-button)::before {
        background-position: 0 -312px;
      }
    }

    &::before {
      background: {
        image: url(/arquivos//customerIcons-sebfa9bea5f.png);
        position: 0 -288px;
      }
      bottom: 0;
      content: '';
      height: 24px;
      position: absolute;
      right: 0;
      width: 24px;
    }

    &:global(.hover-bg-action-secondary):focus,
    &:global(.hover-bg-action-secondary):hover {
      background-color: initial;
    }
  }

  :global(.vtex-button__label) {
    justify-content: flex-start;
    padding: 0;
  }
}

.contentForm {
  min-width: 200px;
}

.formTitle {
  font-size: 14px;
}
