//Header
.wrapper {
  &--stuck:not(:hover) {
    background: #fff;
    padding: {
      bottom: 5px;
      top: 5px;
    }
  }

  &--sticky-header {
    background-color: #fff;
    padding: 10px 0;

    &--stuck {
      :global(.vtex-input-prefix__group) {
        height: 30px;
        margin-bottom: 0;
      }
    }
  }

  &--stuck {
    .container {
      &--sticky-header {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
